* {
  box-sizing: border-box;
  font-family: "Baloo Tammudu 2", cursive, sans-serif;
}

body {
  min-height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

input {
  color: hsla(0, 0%, 100%, 1) !important;
}


input:-internal-autofill-selected {
  background-color: transparent !important;
}

main {
  height: 100%;
  width: 100%;
}

#slider {
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.father {
  overflow: hidden;
  position: relative;
}

/* slider effect */
/* .father:hover .child-1 {
  left: 0;
  transform: translate(-100%, 0);
}
.father:hover .child-2 {
  left: 0;
} */

/* .child {
  position: absolute;
  transition: 0.5s;
}

.child-1 {
  top: 0;
  left: 30%;
}

.child-2 {
  top: 0;
  left: 100%;
} */

/* popup effect */

.popup_father {
  background-color: transparent;
  width: 100%;
  overflow: hidden;
}

.popup_father:hover .popup_child-1 {
  transform: translate(0, 0) rotate(0);
}

.popup_child {
  background-color: transparent;
  animation: popup 1s forwards;
  transition: 0.5s;
}

.popup_child-1 {
  transform: translate(0, 100%) rotate(6deg);
}

@keyframes popup {
  from {
    transform: translate(0, 100%) rotate(6deg);
  }
  to {
    transform: translate(0, 0) rotate(0);
  }
}
